@import "../../../assets/styles/styles.scss";
.logoWrapper {
  display: flex;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
}
.BurgerContainer {
  height: 2.5rem;
  width: 7.8125rem;
  background-color: $BurgerColor;
  border: 0.0625rem solid $BurgerColor;
  box-sizing: border-box;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 5rem;
  height: 3rem;
}
