$cardWrappertBG: #ffffff;
$cardWrappertBS: 0px 9px 12px rgba(0, 0, 0, 0.1);
$carsStatusBG: rgba(48, 255, 30, 0.2);
$carsStatusColor: #51e245;
$cardDataColor: #2d2d2d;
$black: black;
$quotePColor: #a9a9a9;
$statusBG: rgba(48, 255, 30, 0.2);
$CharMailWR:rgb(242, 246, 247);
$BurgerColor: #f1b926;
$f3efef9c: #f3efef9c;
$error: #e99379;

