@import "../../../assets/styles/styles.scss";

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
.logo {
  width: 100%;
  max-height: 46.875rem;
}

.HeaderColor {
  div:nth-child(2) {
    background-color: $cardWrappertBG;
  }
}
